/* Custom Font */
@font-face {
    font-family: "traffolight";
    src: url("../../font/traffolight.otf") format("opentype");
}

/* Content */
body{
    background-color: #4AB3B6;
    font-family: 'traffolight';
    color: #E6E6E6;

    display: flex;
    flex-wrap: wrap;
    max-height: 100vh;
    overflow: hidden;
}

.no-js #loader { 
    display: none;  
}

.js #loader { 
    display: block; 
    position: absolute; 
    left: 100px; 
    top: 0; 
}

.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../../gif/Preloader_3.gif) center no-repeat #ffffff;
}

.container-head{
    display: inline;
    padding-top: 5vh;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.container-head h1{
    display: inline;
}

.container-head a{
    display: inline;
    padding-top: 0.75vh;
    font-size: 1.5em;
    color: inherit;
    text-decoration: none;
}

.container-card{
    margin-top: 5vh;
    position: relative;
    right: 35vw;
    border-radius: 10%;
    background-color: #E6E6E6;
}

.container-card .login-header{
    position: relative;
    left: 8vw;
    top: 1vw;
}

.container-card h2{
    color: #4AB3B6;
    position: inherit;
    left: 0.5vw;
    bottom: 1vw;
}

.container-card form label{
    color: #4AB3B6;
}

.container-card form div{
    margin-top: 2vh;
    margin-left: 1vw;
}

.container-card button{
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
}

.container-body{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    left: 40vw;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20vh;
    /* background-color: black; */
}

.container-body h1{
    display: flex;
    position: relative;
    right: 25vw;
    font-size: 5em;
    font-weight: bold;
}

.container-body p{
    position: relative;
    right: 4.5vw;
    font-size: 2em;
    padding-right: 20vw;
    padding-top: -5vh;
    margin-top: -10vh;
    /* background-color: black; */
}

form input{
    width: 90%;
    height: 2vw;
    margin-bottom: 10px;
    margin-top: 10px;
    /* border-radius: 4px; */
    background: transparent;
    border: none;
    border-bottom: 2px solid #4AB3B6;
}

form button{
    background-color: #4AB3B6;
    color: #E6E6E6;
    text-decoration: none;
    border: none;
    border-radius: 12px;
    text-align: center;
    padding: 15px 32px;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin-left: 5vw;
}

.button{
    padding-left: 5vw;
    padding-right: 2vw;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    right: 2vw;
}

.button{
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.button:hover{
    /* background-color: #E6E6E6; */
    color: #000000;
}